.size {
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin: 0 2px;
    padding: 0 8px;
    border-radius: 2px;
    outline: none;
    color: #fff;
}

.btn {
    background-color: #2069e0;
    cursor: pointer;
    border: 1px solid transparent;
}

.txt {
    background-color: #2e2e2e;
    border: 1px solid #2069e0;
}

.table {
    border: 1px solid #444;
    border-collapse: collapse;
}

.table td {
    font-size: 12px;
    font-family: 'Roboto Mono';
    border: 1px solid #444;
    padding: 8px;
}

.table th {
    font-size: 11px;
    font-family: 'Open Sans';
    border: 1px solid #444;
    padding: 8px;
    background: #222;
}

datalist {
    background-color: #222;
    border: 1px solid #2069e0;
}

rapi-doc {
    width: 100%;
}